@CHARSET "UTF-8";

#content{
	
	margin-top: 105px;
	border: #aef7e7 ridge 5px;
}

img{
	background-color: darkgray;
	height:538px;
	width: 819px;
	border-radius: 5px;
	border: #aef7e7 ridge 5px;
	margin-top: 105px;
	
}
#d{

	float: right;
	position: absolute;
	left:157px; 
	top:0;
}

