
* {
	margin: 0px;
	padding: 0px;
}
body{
	width: 157px;
	height: 100%;
}
a{
	font-size:13px;
	text-decoration:none;
}
a:link {color:#000000;}		
a:visited {color:#000000;}	
a:hover {color:#0080c0;}	
a:active {color:#004080;}

div {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family:inherit;
	width: 151px;
	height: 83%;
	position: absolute;
	left : 0px; 
	top : 105px;
	border: #004080 inset 3px;
	
}

p {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 15px;
}

li {
	margin-left: 45px;
	margin-top: 3px;
	margin-bottom: 3px;
}

img {
	background-color: gray;
	height: 95px;
	width: 147px;
	border-radius: 5px;
	position: absolute;
	left : px; 
	top : px;
	border: #aef7e7 ridge 5px;
}


